@import url('https://fonts.googleapis.com/css?family=Orbitron|Fira+Mono|Exo:800i|Roboto+Condensed');

:root {
  --highlight: #dddddd;
  --light-grey: #82858e;
  --lomid-grey: #666666;
  --mid-grey: #302a34;
  --dark-grey: #19171c;
  --pink-grey: #54454a;
  --light-teal: #576d6a;
  --mid-teal: #536765;
  --dark-teal: #304445;
  --shadow-teal: #283c3b;
  --light-brown: #9a9179;
  --mid-brown: #483b2a;
  --dark-brown: #544d43;
  --dark-red: #210109;
  --light-red: #c80920;
  --button-colour: #868f9f;
  --dark-button: #5b637a;
  --shadow: #00000080;
  --button-style: "fill:var(--dark-button);stroke:var(--mid-grey);stroke-width:4%";
}

* {
  border-radius: 0.3em;
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", monospace;
  outline: 0;
}

body {
  color: var(--light-grey);
  overflow-y: hidden;
  background: linear-gradient(var(--bg-top), var(--bg-bottom));
}

main {
  display: flex;
  width: 100vw;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
}
button {
  cursor: pointer;
}

#patterneditor {
  background-color: var(--dark-grey);
  display: block;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
  box-shadow: -0.1em 0 var(--shadow-teal),
    -1.5em 0 var(--mid-teal),
    -1.6em 0 var(--shadow-teal),
    -1.8em 0 var(--light-brown),
    -2em 0 var(--mid-brown),
    1.4em 0 var(--mid-teal),
    1.7em 0 0.1em var(--light-grey);
  border-radius: 0px;
  padding: 0 1ch;
  margin: 0 1.5em 0 2em;
  min-width: 35ch;
  flex: 0 0 auto;
}

#exacode::-webkit-scrollbar,
#patterneditor::-webkit-scrollbar {
  width: 2.5ch;
}
#exacode::-webkit-scrollbar-track,
#patterneditor::-webkit-scrollbar-track {
  background-color: var(--dark-teal);
  border-left: thick inset var(--mid-teal);
  border-right: thick inset var(--shadow-teal);
}
#exacode::-webkit-scrollbar-button,
#patterneditor::-webkit-scrollbar-button {
  background-color: var(--light-teal);
  border: medium outset var(--light-teal);
}
#exacode::-webkit-scrollbar-thumb,
#patterneditor::-webkit-scrollbar-thumb {
  background-color: var(--light-teal);
  border: medium outset var(--light-teal);
}
#exacode::-webkit-scrollbar-corner,
#patterneditor::-webkit-scrollbar-corner {
  background-color: var(--light-teal);
  border: medium outset var(--light-teal);
}

.cell {
  min-width: 4ch;
  width: 4ch;
  font-family: Fira Code, monospace;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
}
.cell.current {
  caret-color: var(--mid-grey);
  outline-color: var(--pink-grey);
  background-color: var(--light-grey);
  color: var(--dark-grey);
}
.row:nth-child(4n+1) {
  border-right: solid medium var(--pink-grey);
}
.row.current {
  background-color: var(--mid-grey);
}
.songcontainer {
  background-color: black;
  border-radius: 0.5em;
  padding: 0.1em;
  counter-reset: patterns;
}
.songtitle {
  border: 0.4em solid black;
  text-align: center;
  margin: 1ch 0 1ch 0;
  background-color: var(--dark-red);
  color: var(--light-red);
  font-family: Orbitron, sans-serif;
  font-size: 0.8em;
}

.addpatternbutton {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 700;
  margin: 1em 0 6em 0;
  padding: 0.5em;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  border: 0.25em groove var(--mid-grey);
}
.addpatternbutton:hover {
  background-color: var(--mid-grey);
  border: 0.25em groove var(--pink-grey);
}
.addpatternbutton:active {
  color: var(--pink-grey);
  border: 0.25em inset var(--pink-grey);
}

.patterncontainer {
  position: relative;
  margin: 0.5em 0.5em;
}
.patternheader {
  border-radius: 0.3em 0.3em 0 0;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size: 0.8em;
  padding: 0em 1.2em 0.5em;
  margin-bottom: 0.2em;
  border-top: 0.1em outset #ccc;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 1ch;
}
.patternheader > button {
  height: 1.5em;
  width: 2em;
  background-color: inherit;
  border-radius: 0 0 0.5em 0;
  border: medium groove var(--light-grey);
  border-top: 0;
}
.patternheader > button:first-child {
  border-right: 0;
  border-radius: 0 0 0 0.5em;
}
.patternheader > button:last-child {
  margin-left: auto;
  border-bottom-left-radius: 0.5em;
}
.patternheader > button:active {
  background-color: var(--lomid-grey);
  border: medium inset var(--light-grey);
}

.patternheader::before {
  counter-increment: patterns;
  content: counter(patterns, upper-latin);
  position: absolute;
  left: 50%;
  align-self: center;
}
.patternbody {
  padding: 0.1em;
  display: flex;
  border: solid thin var(--pink-grey);
  align-content: space-between;
  flex: 0 1 auto;
  background-color: var(--dark-grey);
  border-radius: 0 0 0.3em 0.3em;
}
.pattern {
  counter-reset: rownumber;
  border: solid thin var(--pink-grey);
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  margin: 1pt 1ch;
}
.row::before {
  content: counter(rownumber, decimal-leading-zero);
  font-size: 0.6em;
  width: 1.6em;
  text-align: right;
}
.row::after {
  content: '';
  counter-increment: rownumber;
}
.patternoptions {
  display: flex;
  flex-direction: column;
  padding-left: 0.2em;
}
.tag {
  display: flex;
  justify-content: flex-end;
  border: solid thin var(--pink-grey);
  background-color: var(--pink-grey);
  color: var(--dark-grey);
  min-width: 8ch;
  padding-left: 0.5ch;
}

input[type="number"] {
  width: 6ch;
  padding-left: 2ch;
  text-align: center;
  color: var(--light-grey);
  background-color: var(--dark-grey);
  border: thin solid var(--pink-grey);
  margin-left: 0.5ch;
}

input:focus {
  outline: medium solid var(--pink-grey);
}

.hidden {
  display: none;
}
.minimized {
  height: 0;
  overflow: hidden;
}
#patterneditor .minimized {
  background-color: var(--pink-grey);
}

#display {
  position: relative;
  height: 100vh;
  min-width: 25ch;
  max-width: 25%;
  flex: 2 4 auto;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 4px;
  border-radius: 0;
  background: linear-gradient(to bottom,
    var(--dark-grey) 0%, var(--dark-teal) 50%, var(--dark-grey) 100%);
}

.lockwidth {
  width: 24.5ch;
  min-width: 24.5ch;
  max-width: 24.5ch;
}

.checkerboard {
  border-radius: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  min-width: 25ch;
  background-image: linear-gradient(45deg, var(--shadow-teal) 25%,
      transparent 25%, transparent 75%, var(--shadow-teal) 75%, var(--shadow-teal)),
    linear-gradient(45deg, var(--shadow-teal) 25%, transparent 25%,
      transparent 75%, var(--shadow-teal) 75%, var(--shadow-teal));
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
  box-shadow: 0.5ch 0 1ch var(--mid-grey),
  0.6ch 0 0 var(--dark-grey),
  0.8ch 0 0 var(--light-brown),
  3.1ch 0 0.4ch var(--dark-brown),
  3.2ch 0 0.1ch var(--light-brown),
  4ch 1ch 4ch var(--shadow);
  overflow-y: scroll;
}
.checkerboard::-webkit-scrollbar {
  background-color: var(--light-brown);
  width: 2.5ch;
}
.checkerboard::-webkit-scrollbar-track {
  border: medium inset var(--light-brown);
  background-color: var(--light-brown);
  width: 2ch;
}
.checkerboard::-webkit-scrollbar-button,
.checkerboard::-webkit-scrollbar-thumb,
.checkerboard::-webkit-scrollbar-corner {
  border: medium outset var(--light-brown);
  background-color: var(--mid-brown);
}

.globaloptions {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fira Mono", monospace;
  font-size: 0.8em;
  background-color: var(--dark-grey);
  padding: 0.5ch 1ch;
  margin: 1ch auto;
  border: 0.07em inset var(--pink-grey);
}
.displayholder {
  align-content: flex-start;
  flex: 0 1 auto;
  border-radius: 0;
  width: 60%;
  min-width: 22ch;
  max-width: 25ch;
  background-color: var(--dark-teal);
  padding-top: 1.5ch;
  box-shadow: inset 0 0 2ch var(--light-teal),
    inset 1.8em 0 0 var(--mid-teal),
    inset 1.9em 0 0 var(--shadow-teal),
    inset 2em 0 0 var(--mid-grey),
    inset 2.3em 0 0.5em var(--shadow-teal),
    inset -1.8em 0 0 var(--mid-teal),
    inset -1.9em 0 0 var(--shadow-teal),
    inset -2em 0 0 var(--mid-grey),
    inset -2.3em 0 0.5em var(--shadow-teal),
    0.2ch 0 0.2ch var(--light-grey),
    0.1ch 0 0 var(--dark-grey),
    -0.2ch 0 0 var(--shadow-teal),
    -0.4ch 0 0 var(--light-brown),
    -0.6ch 0 0 var(--shadow-teal);
}
#codeoutput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1ch;
}
#codeoutput > textarea {
  margin: auto;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  border: inset medium var(--pink-grey);
  font-family: "Fira Mono", monospace;
}
.code-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 19ch;
  flex-wrap: wrap;
}
.code-button {
  flex: 2 1 auto;
  width: 50%;
}
#display button {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  border: outset medium var(--mid-grey);
}
label {
  align-items: center;
  text-align: center;
  margin: 0.2em 0;
}
